<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.facewnd.ad.modules.base.account.dao.AdManageUserRoleMapMapper">
	<resultMap id="BaseResultMap"
		type="com.facewnd.ad.modules.base.account.entity.AdManageUserRoleMap">
		<!-- WARNING - @mbg.generated -->
		<id column="MuserId" jdbcType="BIGINT" property="muserId" />
		<result column="RoleId" jdbcType="BIGINT" property="roleId" />
		<result column="Comments" jdbcType="VARCHAR" property="comments" />
		<result column="CreatedUserId" jdbcType="BIGINT" property="createdUserId" />
		<result column="CreatedDtm" jdbcType="TIMESTAMP" property="createdDtm" />
		<result column="IntVal1" jdbcType="BIGINT" property="intVal1" />
		<result column="IntVal2" jdbcType="BIGINT" property="intVal2" />
		<result column="StrVal1" jdbcType="VARCHAR" property="strVal1" />
		<result column="StrVal2" jdbcType="VARCHAR" property="strVal2" />
	</resultMap>
	<select id="queryRoleManageUserList" resultType="hashmap">
		SELECT
		ur.MuserId AS userId,
		u.UserAlias AS userAlias,
		u.RealName AS realName
		FROM
		ad_manage_user_role_map ur
		INNER JOIN ad_manage_user u ON ur.MuserId = u.MuserId
		WHERE
		u.DeleteFlag = 0
		AND ur.RoleId = #{roleId}
		ORDER BY
		ur.CreatedDtm DESC
	</select>
</mapper>