<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facewnd.ad.modules.base.account.dao.AdRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.facewnd.ad.modules.base.account.entity.AdRole">
		<!-- WARNING - @mbg.generated -->
		<id column="RoleId" jdbcType="BIGINT" property="roleId" />
		<result column="RoleClassify" jdbcType="INTEGER" property="roleClassify" />
		<result column="RoleType" jdbcType="SMALLINT" property="roleType" />
		<result column="CompanyId" jdbcType="BIGINT" property="companyId" />
		<result column="RoleName" jdbcType="VARCHAR" property="roleName" />
		<result column="SortIndex" jdbcType="INTEGER" property="sortIndex" />
		<result column="StatusCode" jdbcType="SMALLINT" property="statusCode" />
		<result column="DeleteFlag" jdbcType="SMALLINT" property="deleteFlag" />
		<result column="Comments" jdbcType="VARCHAR" property="comments" />
		<result column="CreatedUserId" jdbcType="BIGINT" property="createdUserId" />
		<result column="CreatedDtm" jdbcType="TIMESTAMP" property="createdDtm" />
		<result column="LastUserId" jdbcType="BIGINT" property="lastUserId" />
		<result column="LastDtm" jdbcType="TIMESTAMP" property="lastDtm" />
		<result column="IntVal1" jdbcType="BIGINT" property="intVal1" />
		<result column="IntVal2" jdbcType="BIGINT" property="intVal2" />
		<result column="StrVal1" jdbcType="VARCHAR" property="strVal1" />
		<result column="StrVal2" jdbcType="VARCHAR" property="strVal2" />
	</resultMap>

	<select id="queryRoleFunctionListByRoleId" resultType="hashmap">
		SELECT
		f.FunctionId AS functionId,
		f.FunctionName AS functionName,
		f.ParentId AS parentId,
		f.Icon AS icon,
		f.FunctionUrl AS functionUrl
		FROM
		ad_function f
		INNER JOIN ad_role_function_map r ON f.FunctionId = r.FunctionId
		WHERE
		f.DeleteFlag = 0
		AND r.RoleId = #{roleId}
		ORDER BY
		f.FunctionType ASC,
		f.SortIndex ASC
	</select>
</mapper>